
li{
  list-style: none;

}

nav a{
  text-decoration: none;
  font-weight: 500;
font-size: 16px;

color: #000;
}
nav{
  margin-block:36px;
  margin-inline:12px ;
}
nav{
  margin-right: 72px;
}
.name{
  display: none;
}
button {
  background: none;
  border: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

@media (min-width: 769px) {
  .btn-menu{
    display: none;
  }
  .name{
    display: flex;
  }


}
@media (max-width: 767px) {
  nav{
    margin-inline: 0px;
    margin-block: 25px;

  }
  .item1 .card-title, .item2 .card-title{
    font-size: 14px;
  }
  .item1 .card-text{
  
    font-weight: 700;
    font-size: 64px;
    color: #4a54ae;
  }



}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
