.withdraw-container {
  font-family: Arial, sans-serif;


}


.balance-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f4f6;
  padding: 20px;
  border-radius: 0px;
  margin-bottom: 20px;
}


.item2 .card{

  background-color: #4A54AE;

}





.item2 .card-title{

  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  margin-top: 12px;

}
.item2 .card-text{
  font-weight: 700;
  font-size: 48px;
  color: #fff

}

.item2 .profit-section  span{
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-inline: 7px;


}
.item2 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 0px !important;
}
.item2 .card-promo {
  border-radius: 0px;
  padding: 16px;


}
.item2 .card-promo span{
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #4a54ae;
}
.item2 .card-promo p{
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #7c7c7c;

}
.card , .card-body {
  border: none;
  background-color: transparent;
  border-radius: 0px;
}


.balance-section .profit h1 {
  color: #4a90e2;
  font-size: 36px;
}

.balance-section .profit h1 span {
  font-size: 18px;
}

.balance-section .promo {
  text-align: right;
}

.balance-section .promo h3 {
  color: #6b7280;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tabs-nav h2{
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
.tabs-nav h3{
  font-weight: 400;
  font-size: 16px;
  color: #7c7c7c;
}
nav{
  margin-top: 48px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  padding:  -3px 40px;
  font-weight: 400;
  font-size: 14px;
  color: #6936f5;
  background-color:white ;
  width: 172px;
}


.tab-button.active {
  border: 1px solid #6936f5;
  background-color: white;
  color: #6936f5;
  font-weight: bold;

}
.tabss{
  margin-top: 16px;

}
.tab-content {
  /* padding-b: 20px; */
  border-radius: 8px;
  background: #fff;
  margin-top: 24px;
}

.tab-content label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #7c7c7c;
}

.tab-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;

}

.tab-content input::placeholder{
  font-weight: 400;
  font-size: 12px;
  color: #7c7c7c;
}

.submit-button {
  padding: 10px 15px;
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #357ab8;
}
.btn{
  padding: 12px 16px;
  width: 113px;
  border-radius: 0px;
  background-color: #4a54ae;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 24px;

}
.history-section {
  margin-top: 30px;
}
.withdrawal-history h3{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  margin-top: 142px;
}

.history-section table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;

}
.withdrawal-history thead {
box-shadow: 0 4px 12px 0 rgba(174, 176, 176, 0.12);
background-color: #f4f5fa;


}


.withdrawal-history th{
  padding-block: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #4a54ae;
}

.withdrawal-history tbody td{
  font-weight: 400;
  font-size: 14px;
  color: #4a54ae;
  padding-block:14px !important;
  border-bottom: 1px solid #f4f5fa;
  border-left: 1px solid #f4f5fa;
  border-right: 1px solid #f4f5fa
}
.withdrawal-history p{
  font-weight: 400;
font-size: 16px;
color: #4a54ae;
margin-top: 19px;

}

.withdrawal-history p span{
  font-weight: 700;
}
@media (max-width: 767px) {
  .card-promo
  {
    margin-top: 16px;
  }
  .item2 .card {
    position: relative;

  }
  .item2 .card::before {
    content: "";
    display: block;
    width: 284px;
    height: 170px;

    background-image: url("data:image/svg+xml,%3Csvg width='284' height='148' viewBox='0 0 284 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M1.51685 120.105L18.0782 94.093C30.3065 74.8864 58.3052 74.7685 70.6948 93.8715V93.8715C82.6744 112.342 109.482 112.982 122.328 95.103L135.275 77.0841C149.828 56.8313 177.781 51.6937 198.584 65.4486L223.118 81.6708C241.131 93.5807 260.953 91.4597 265.074 70.2625C267.136 59.654 268.375 46.1756 267.827 29.7153' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M1.51685 104.754L13.0398 86.6556C26.6415 65.2918 58.4162 67.1681 69.409 89.9843V89.9843C80.9484 113.935 114.861 114.481 127.165 90.9137L138.465 69.2692C150.695 45.8435 180.507 38.1451 202.551 52.7202L225.799 68.092C242.103 78.8726 260.195 77.1444 264.42 58.06C266.865 47.0144 268.431 32.499 267.827 14.3641' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3Ccircle cx='269.865' cy='14.3731' r='12.17' fill='white' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 43px;
    right: 42px;
  }
  .tabs-container{
    padding-inline: 24px;
    padding-block: 32px;
  }
  nav ,.withdrawal-history h3{
    margin-top: 32px;
}
.withdrawal-history h3{
  margin-bottom: 16px;
}
.withdrawal-history tbody td {

  text-align: center;
  font-size: 11px;
}

}




